<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>九章秒殺-正品秒殺！</title>
    <link rel="icon" href="img/jiuzhanglogo.png">

    <!-- 引入樣式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <link rel="stylesheet" type="text/css" href="css/all.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-flashsale-index.css" />


</head>

<body>
    <!-- 頭部欄位 -->
    <!--頁面頂部-->
    <div id="nav-bottom">
        <!--頂部-->
        <div class="nav-top">
            <div class="top">
                <div class="py-container">
                    <div class="shortcut">
                        <ul class="fl">
                            <li class="f-item">九章歡迎您！</li>
                            <li class="f-item">請
                                <a href="login.html" target="_blank">登錄</a>
                                <span>
                                    <a href="register.html" target="_blank">免費註冊</a>
                                </span>
                            </li>
                        </ul>
                        <div class="fr typelist">
                            <ul class="types">
                                <li class="f-item">
                                    <span>我的訂單</span>
                                </li>

                                <li class="f-item">
                                    <span>
                                        <a href="cart.html" target="_blank">我的購物車</a>
                                    </span>
                                </li>
                                <li class="f-item">
                                    <span>
                                        <a href="home.html" target="_blank">我的九章</a>
                                    </span>
                                </li>
                                <li class="f-item">
                                    <span>九章會員</span>
                                </li>
                                <li class="f-item">
                                    <span>企業採購</span>
                                </li>
                                <li class="f-item">
                                    <span>關注九章</span>
                                </li>
                                <li class="f-item">
                                    <span>
                                        <a href="cooperation.html" target="_blank">合作招商</a>
                                    </span>
                                </li>
                                <li class="f-item">
                                    <span>
                                        <a href="shoplogin.html" target="_blank">商家後臺</a>
                                    </span>
                                </li>
                                <li class="f-item">
                                    <span>網站導航</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!--頭部-->
            <div class="header">
                <div class="py-container">
                    <div class="yui3-g Logo">
                        <div class="yui3-u Left logoArea">
                            <a class="logo-bd" title="九章" href="index.html" target="_blank"></a>
                        </div>
                        <div class="yui3-u Rit searchArea">
                            <div class="search">
                                <form action="" class="sui-form form-inline">
                                    <!--searchAutoComplete-->
                                    <div class="input-append">
                                        <input type="text" id="autocomplete" class="input-error input-xxlarge" />
                                        <button class="sui-btn btn-xlarge btn-danger" type="button">搜索</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="py-container index">
        <!--banner-->
        <div class="banner">
            <img src="img/_/banner.png" class="img-responsive" alt="">
        </div>
        <!--秒殺時間-->
        <div class="sectime">
            <div class="item-time active">
                <div class="time-clock">12:00</div>
                <div class="time-state-on">
                    <span class="on-text">快搶中</span>
                    <span class="on-over">距離結束：01:02:34</span>
                </div>
            </div>
            <div class="item-time">
                <div class="time-clock">14:00</div>
                <div class="time-state-will">
                    <span>即將開始</span>
                </div>
            </div>
            <div class="item-time">
                <div class="time-clock">16:00</div>
                <div class="time-state-will">
                    <span>即將開始</span>
                </div>
            </div>
            <div class="item-time">
                <div class="time-clock">18:00</div>
                <div class="time-state-will">
                    <span>即將開始</span>
                </div>
            </div>
            <div class="item-time">
                <div class="time-clock">20:00</div>
                <div class="time-state-will">
                    <span>即將開始</span>
                </div>
            </div>
        </div>
        <!--秒殺活動列表列表-->
        <div class="goods-list" id="app">
            <ul class="flashsale" id="flashsale">
                <tr th:each="flashsaleActivity : ${flashSaleActivities}">
                    <li class="flashsale-item" >
                        <div class="pic">
                            <img src="img/_/list.jpg" alt=''>
                        </div>
                        <div class="intro">
                            <span th:text="${flashsaleActivity.name}">活動名稱</span>
                        </div>
                        <div class='price'>
                            <b class='sec-price' th:text="'￥'+${flashsaleActivity.flashSalePrice}"></b>
                            <b class='ever-price' th:text="'￥'+${flashsaleActivity.oldPrice}"></b>
                        </div>
                        <div class='num'>
                            <div>已售999</div>
                            <div class='progress'>
                                <div class='sui-progress progress-danger'>
                                    <span style='width: 70%;' class='bar'></span>
                                </div>
                            </div>
                            <div>剩餘
                                <b class='owned'>999</b>件</div>
                        </div>
                        <a class='sui-btn btn-block btn-buy'  th:href="@{'/item/'+${flashsaleActivity.id}}" target='_blank'>立即搶購</a>
                    </li>
                </tr>
            </ul>
        </div>
        <div class="cd-top">
            <div class="top">
                <img src="img/_/gotop.png" />
                <b>TOP</b>
            </div>
            <div class="code" id="code">
                <span>
                    <img src="img/_/code.png" />
                </span>
            </div>
            <div class="erweima">
                <img src="img/_/erweima.jpg" alt="">
                <s></s>
            </div>
        </div>
    </div>

    <!--回到頂部-->

    <!-- 底部欄位 -->
    <!--頁面底部-->
    <div class="clearfix footer">
        <div class="py-container">
            <div class="footlink">
                <div class="Mod-service">
                    <ul class="Mod-Service-list">
                        <li class="grid-service-item intro  intro1">

                            <i class="serivce-item fl"></i>
                            <div class="service-text">
                                <h4>正品保障</h4>
                                <p>正品保障，提供發票</p>
                            </div>

                        </li>
                        <li class="grid-service-item  intro intro2">

                            <i class="serivce-item fl"></i>
                            <div class="service-text">
                                <h4>正品保障</h4>
                                <p>正品保障，提供發票</p>
                            </div>

                        </li>
                        <li class="grid-service-item intro  intro3">

                            <i class="serivce-item fl"></i>
                            <div class="service-text">
                                <h4>正品保障</h4>
                                <p>正品保障，提供發票</p>
                            </div>

                        </li>
                        <li class="grid-service-item  intro intro4">

                            <i class="serivce-item fl"></i>
                            <div class="service-text">
                                <h4>正品保障</h4>
                                <p>正品保障，提供發票</p>
                            </div>

                        </li>
                        <li class="grid-service-item intro intro5">

                            <i class="serivce-item fl"></i>
                            <div class="service-text">
                                <h4>正品保障</h4>
                                <p>正品保障，提供發票</p>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="clearfix Mod-list">
                    <div class="yui3-g">
                        <div class="yui3-u-1-6">
                            <h4>購物指南</h4>
                            <ul class="unstyled">
                                <li>購物流程</li>
                                <li>會員介紹</li>
                                <li>生活旅行/團購</li>
                                <li>常見問題</li>
                                <li>購物指南</li>
                            </ul>

                        </div>
                        <div class="yui3-u-1-6">
                            <h4>配送方式</h4>
                            <ul class="unstyled">
                                <li>上門自提</li>
                                <li>211限時達</li>
                                <li>配送服務查詢</li>
                                <li>配送費收取標準</li>
                                <li>海外配送</li>
                            </ul>
                        </div>
                        <div class="yui3-u-1-6">
                            <h4>支付方式</h4>
                            <ul class="unstyled">
                                <li>貨到付款</li>
                                <li>線上支付</li>
                                <li>分期付款</li>
                                <li>郵局匯款</li>
                                <li>公司轉帳</li>
                            </ul>
                        </div>
                        <div class="yui3-u-1-6">
                            <h4>售後服務</h4>
                            <ul class="unstyled">
                                <li>售後政策</li>
                                <li>價格保護</li>
                                <li>退款說明</li>
                                <li>返修/退換貨</li>
                                <li>取消訂單</li>
                            </ul>
                        </div>
                        <div class="yui3-u-1-6">
                            <h4>特色服務</h4>
                            <ul class="unstyled">
                                <li>奪寶島</li>
                                <li>DIY裝機</li>
                                <li>延保服務</li>
                                <li>品優購E卡</li>
                                <li>品優購通信</li>
                            </ul>
                        </div>
                        <div class="yui3-u-1-6">
                            <h4>幫助中心</h4>
                            <img src="img/erwei_jz.png">
                        </div>
                    </div>
                </div>
                <div class="Mod-copyright">
                    <ul class="helpLink">
                        <li>關於我們
                            <span class="space"></span>
                        </li>
                        <li>聯繫我們
                            <span class="space"></span>
                        </li>
                        <li>關於我們
                            <span class="space"></span>
                        </li>
                        <li>商家入駐
                            <span class="space"></span>
                        </li>
                        <li>行銷中心
                            <span class="space"></span>
                        </li>
                        <li>友情連結
                            <span class="space"></span>
                        </li>
                        <li>關於我們
                            <span class="space"></span>
                        </li>
                        <li>行銷中心
                            <span class="space"></span>
                        </li>
                        <li>友情連結
                            <span class="space"></span>
                        </li>
                        <li>關於我們</li>
                    </ul>
                    <p>2013-2020 九章演算法  浙ICP備19045946號-1</p>
                    <p>商務合作: fukesu@jiuzhang.com</p>
                </div>
            </div>
        </div>
    </div>
    <!--頁面底部END-->
    <!-- 引入組件庫 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.5.4/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    goodslist: [{
                            intro: 'Apple蘋果iPhone 6s 32G金色 移動聯通電信4G手機',
                            newprice: '6088',
                            oldprice: '6988',
                            rate: '87%',
                            left: '29'
                        },
                        {
                            intro: 'Apple蘋果iPhone 6s 32G金色 移動聯通電信4G手機',
                            newprice: '6088',
                            oldprice: '6988',
                            rate: '87%',
                            left: '29'
                        }, {
                            intro: 'Apple蘋果iPhone 6s 32G金色 移動聯通電信4G手機',
                            newprice: '6088',
                            oldprice: '6988',
                            rate: '87%',
                            left: '29'
                        }, {
                            intro: 'Apple蘋果iPhone 6s 32G金色 移動聯通電信4G手機',
                            newprice: '6088',
                            oldprice: '6988',
                            rate: '87%',
                            left: '29'
                        }, {
                            intro: 'Apple蘋果iPhone6 s 32 G金色 移動聯通電信4G手機 ',
                            newprice: '6088 ',
                            oldprice: '6988 ',
                            rate: '87 % ',
                            left: '29 '
                        },
                        {
                            intro: 'Apple蘋果iPhone 6 s 32 G金色 移動聯通電信4G手機 ',
                            newprice: '6088',
                            oldprice: '6988',
                            rate: '87%',
                            left: '29'
                        }, {
                            intro: 'Apple蘋果iPhone 6s 32G金色 移動聯通電信4G手機',
                            newprice: '6088',
                            oldprice: '6988',
                            rate: '87%',
                            left: '29'
                        }
                    ]
                }
            }
        })
    </script>


</body>

</html>

